#input {
    width: 180px;
    height: 30px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5%;
}
#btn {
    background: red;
    width: 150px;
    height: 45px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin: 20px 0 40px 10px;

}
#output {
    width: 23%;
    margin-left: 65px;
    display: grid;
    grid-template-rows: 200px;
    grid-gap: 5px;
    align-items: center;
    border: 3px solid red;
    background: rgb(202, 190, 190);
    border-radius: 10px;
    padding: 20px;
}

#output h3 {
    font-size: 20px;
    /* text-align: center; */
    /* display: non; */
}
img {
    width: 200px;
}